@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <footer >
        @*<div class="pull-right">
        <a style="color:#fff;"> Copyright 2016 </a>
        </div>
        <div class="clearfix"></div>*@
    </footer>
    <!-- /footer content -->


</body>
</html>
