

@{
    ViewBag.Title = "Log On";
}
<br />
<br />
<div ng-app="myloginApp" ng-controller="AccountController">
    <div class="container">
        <div ng-include="'/Templates/Login_.html'"></div>
    </div>
</div>
<script src="~/AppScripts/Login.js"></script>

